.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  width: 275px;
  height: 58px;
  width: 100%;

  background-color: #211F2D;
  border: solid 1px #7F97B4;
}

.header:hover {
  color: #000000;
  background-color: #ECEACE;
  border: solid 1px #ECEACE;
}

.header:hover .caret {
  opacity: 1;
}

.caret {
  opacity: 0;
}


.box h1 {
  font-weight: 600;
}